.float {
  position: fixed;
  bottom: 25px;
  right: 25px;
  background-color: #055ada;
  color: #FFF;
  border-radius: 50px;
  text-align: center;
  box-shadow: 2px 2px 3px #999;
  padding: 10px 15px;
  cursor: pointer;
  z-index: 1;
}

.float-span-link {
  color: #FFFFFF;
  margin-right: 10px;
  display: none;
}

@media (min-width: 801px) {
  .float-span-link {
    display: inline;
  }
}

.float-span-link:hover {
  text-decoration: underline;
  color: white;
}

.float-phone-icon-container {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  /*display: inline-block;*/
  z-index: 2;
  position: fixed;
  bottom: 25px;
  right: 25px;
  color: #FFF;
  border-radius: 50px;
  text-align: center;
  padding: 10px 15px;
  cursor: pointer;
  z-index: 2;
}

