.individual-product-page-image-container {
  margin: 0 auto;
  width: 75%;
  margin-bottom: 30px;
}

@media (orientation:landscape) {
  .individual-product-page-image-container {
    width: 40%;
    float: left;
  }
}

.individual-product-info-wrapper {
  float: right;
}

.individual-product-page-image {
  width: 100%;
}

.individual-product-wrapper {
  padding-left: 30px;
  padding-right: 30px;
  color: #373F52;
  margin-top: 70px;
}

.individual-product-page-product-title {
  font-weight: bold;
  font-size: 24px;
  text-align: center;
}

.individual-product-page-price {
  text-align: center;
  font-size: 20px;
  font-weight: 300;
}

@media (orientation:landscape) {
  .individual-product-page-product-title, .individual-product-page-price {
    text-align: left;
  }
}

.individual-product-page-span-bold {
  font-weight: bold;
}

.individual-product-page-para {
}

.individual-product-page-para {
  margin-bottom: 70px;
}

.individual-product-page-name-price-button-container {
  margin-bottom: 50px;
}

@media (orientation:landscape) {
  .individual-product-info-wrapper {
    float: left;
    width: 45%;
    padding-left: 70px;
  }
}

.thumbnail-pics {
  float: left;
}

.product-thumbnail-container {
  width: 60px;
}

.carousel {
  float: left;
}

@media (orientation:landscape) {
  .individual-product-page-image-container.yard-package {
    float: left;
    margin-left: 5%;
  }
}

.product-thumbnail-image {
  width: 100%;
  margin-bottom: 8px;
}

