#award {
  background-color: #D8D8D8;
  display: flex;
  flex-direction: column;
  /*justify-content: space-evenly;*/
}

@media (orientation: landscape) {
  #award {
    max-height: 100vh;
    min-height: max-content;
    display: flex;
    flex-direction: column;
    /*justify-content: space-evenly;*/
  }
}

#award::before {
  display: block;
  content: " ";
  /*margin-top: -40px;*/
  height: 40px;
  visibility: hidden;
  pointer-events: none;
  background-color: #D8D8D8;
}

.award {
  text-align: center;
  padding: 1em;
  font-size: 20px;
}

.tile {
  background-color: #2D4E76;
  height: auto;
  width: 90%;
  margin: 0 auto;
  position: relative;
}

.tile-heading {
  padding: 1.4em 20%;
  margin-bottom: 0;
  font-size: 3vmax;
}

.tile-img {
  width: 100.25%;
  padding-top: 1.5em;
  position: relative;
  transform: translateY(1%);
}

.tile-heading, .tile-para {
  color: white;
}

.tile-para {
  padding: 0 20%;
  font-size: 2.2vmax;
}

.read-more {
  color: white;
  padding: 0 25% 0 25%;
  text-decoration: underline;
}

.read-more-link {
  color: white;
  text-decoration: underline;
}

.read-more-para {
  padding: 0 20%;
  font-size: 2.2vmax;
  margin: 2em 0;
}

#wastewater::before, #petroleum::before, #industrial-wastewater::before {
  background-color: #EAEAEA;
  display: block;
  content: " ";
  margin-top: -40px;
  height: 40px;
  /*visibility: hidden;*/
  pointer-events: none;
}

#wastewater {
  background-color: #D8D8D8;
}

.tile.mine-site {
  height: 800px;
}

#mine-site {
  background-color: #EAEAEA;
}

#petroleum {
  background-color: #D8D8D8;
}

#mosquito-control {
  background-color: #EAEAEA;
}

#industrial-wastewater {
  background-color: #D8D8D8;
}

#eng-dosing {
  background-color: #454141;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 0 2em;
  text-align: center;
}

.eng-dosing-logo-container {
  width: 40%;
}

.eng-dosing-logo {
  width: 100%;
  margin-top: 2.5em;
}

.eng-dosing-content-container {
  color: white;
}

@media (orientation: landscape) {
  .eng-dosing-para {
    margin-bottom: 2.5em;
    font-size: 2vmax;
  }
}

.eng-dosing-para {
  color: rgb(215, 215, 215);
  margin-bottom: 2.5em;
}

@media (orientation: landscape) {
  .eng-dosing-heading {
    margin: 1.1em 0;
    font-size: 3.5vmax;
  }
}

.eng-dosing-heading {
  margin: 1.1em 0;
}

.hours-list {
  opacity: 0.60;
}

@media (orientation: landscape) {
  .little-drop-does-lot {
    margin-left: 20%;
    grid-area: l;
  }
}

.little-drop-does-lot {
  color: #2D4E76;
  position: relative;
  left: -25px;
  width: fit-content;
  white-space: nowrap;
  align-self: center;
  margin-bottom: 2em;
  margin-top: 2em;
}

#agriculture::before, #mine-site::before, #mosquito-control::before {
  display: block;
  content: " ";
  margin-top: -40px;
  height: 40px;
  /*visibility: hidden;*/
  pointer-events: none;
  background-color: #D8D8D8;
}

#agriculture {
  background-color: #EAEAEA;
}

.services-section {
  height: auto;
  padding-bottom: 15%;
}

.earth-container {
  max-width: 80vw;
  margin: 1em auto;
}

@media (orientation: landscape) {
  .a-little-drop {
    font-size: 4vw !important;
  }
}

.a-little-drop {
  font-size: 3.2vh;
}

.earth {
  width: 100%;
  max-height: 55vh;
}

@media (orientation: landscape) {
  .earth {
    width: auto;
    height: 100%;
    max-height: none;
  }
}

.landing {
  height: calc(100vh - 56px);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

@media (orientation: landscape) {
  .landing {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: repeat(10, 1fr);
    grid-template-areas: ". e" ". e" "l e" "l e" ". e" "c e" ". e" ". e" "b e" ". e";
  }
}

@media (min-aspect-ratio: 101/100) and (max-aspect-ratio: 163/100) {
  .landing {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: repeat(10, 1fr);
    grid-template-areas: ". e" ". e" "l e" "l e" ". e" "c e" "c e" ". e" "b e" ". e";
  }
}

@media (orientation: landscape) {
  .earth-container {
    height: 75vh;
    grid-area: e;
    width: auto;
    align-self: center;
  }
}

@media (orientation: landscape) {
  .landing-btn-group {
    height: 2.5em;
    grid-area: b;
  }
}

.landing-btn-group {
  display: flex;
  justify-content: center;
  margin-bottom: 2.5em;
}

.landing-tagline {
  position: relative;
  text-align: center;
  margin-top: 1em;
  font-size: 2vh;
}

@media (orientation: landscape) {
  #landing-tagline-container {
    grid-area: c;
    position: relative;
    width: fit-content;
    /*top: 50%;*/
    margin: 0 auto;
  }
}

#landing-tagline-container {
  margin: 0 auto;
  max-width: 85%;
}

@media (orientation: landscape) {
  .water-and-soil {
    position: absolute;
    left: 30%;
    top: 105%;
    white-space: nowrap;
  }
}

.btn:not(:disabled):not(.disabled) {
  border-radius: 20px;
  font-weight: bold;
  font-size: 16px;
}

.btn.btn-primary.landing-btns.products-btn {
  margin-right: 2em;
  padding-right: 20px;
  padding-left: 20px;
}

@media (orientation: landscape) {
  .landing-tagline {
    text-align: center;
    margin-top: 1em;
    font-size: 2vw;
  }
}

@media (orientation: landscape) {
  .tile {
    background-color: #2D4E76;
    height: 70vh !important;
    width: 90% !important;
    margin: 0 !important;
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
}

@media (orientation:landscape) {
  .text-container {
    max-width: 65%;
  }
}

@media (orientation: landscape) {
  .tile-heading {
    padding: 1.4em 20%;
    margin-bottom: 0;
    font-size: 4.5vmin;
  }
}

@media (orientation: landscape) {
  .tile-para {
    padding: 0 20%;
    font-size: 2.5vmin;
  }
}

@media (orientation: landscape) {
  .read-more-para {
    padding: 0 20%;
    font-size: 2.5vmin;
  }
}

@media (orientation: landscape) {
  .tile-img {
    height: 100.5%;
    width: auto !important;
    padding-top: 0 !important;
    /*right: .1%;*/
    position: absolute !important;
    top: 50%;
    transform: translateY(-50%) translateX(-2px);
  }
}

@media (orientation: landscape) {
  .tile-img.wastewater {
    transform: rotate(180deg) translateY(50%) translateX(2px);
  }
}

@media (orientation: landscape) {
  .services-section {
    min-height: 100vh;
    max-height: 100vh;
    padding-bottom: 0 !important;
    overflow-x: hidden;
    overflow-y: hidden;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
  }
}

@media (orientation: landscape) {
  #eng-dosing {
    background-color: #454141;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-evenly;
    padding: 0 2em;
    text-align: center;
  }
}

@media (orientation: landscape) {
  .eng-dosing-content-container {
    color: white;
    max-width: 50%;
  }
}

@media (orientation: landscape) {
  .eng-dosing-logo-container {
    width: 25%;
    margin: 2.5em 0;
  }
}

@media (min-aspect-ratio: 101/100) and (max-aspect-ratio: 159/100) {
  .earth-container {
    height: 65vh;
    grid-area: e;
    width: auto;
    align-self: center;
    margin-left: -5%;
  }
}

@media (min-aspect-ratio: 101/100) and (max-aspect-ratio: 163/100) {
  .tile-heading {
    padding: 1.4em 20%;
    margin-bottom: 0;
    /*margin-left: 25%;*/
    font-size: 3vmax;
  }
}

@media (min-aspect-ratio: 101/100) and (max-aspect-ratio: 163/100) {
  .tile-para {
    padding: 0 20%;
    font-size: 1.6vmax;
  }
}

@media (min-aspect-ratio: 101/100) and (max-aspect-ratio: 163/100) {
  .read-more-para {
    padding: 0 20%;
    font-size: 1.6vmax;
  }
}

@media (min-aspect-ratio: 101/100) and (max-aspect-ratio: 163/100) {
  .text-container {
    max-width: 65%;
    margin-left: 65vmin;
  }
}

@media (orientation: landscape) {
  .text-container.rotate {
    transform: rotate(180deg);
  }
}

@media (orientation: landscape) {
  .tile.wastewater, .tile.petroleum, .tile.ind-waste {
    transform: scale(-1);
  }
}

@media (orientation: landscape) {
  .tile-img.rotate-right {
    transform: rotate(90deg) translateY(2px) translateX(-1px);
    top: 0;
  }
}

* {
  box-sizing: border-box;
}

@media (orientation: landscape) {
  #award {
    min-height: calc(100vh);
    max-height: max-content;
  }
}

.services-list {
  text-align: center;
  flex-grow: 1;
  justify-content: space-evenly;
  font-size: 18px;
  margin-bottom: 1em;
}

.award-link:hover {
  color: #0056b3;
  text-decoration: underline;
}

.award-link {
  color: #0056b3;
  /*margin-bottom: 0;*/
}

@media (orientation: landscape) {
  .award-link {
    color: #0056b3;
    margin-top: 1em;
  }
}

.list-group-item {
  position: relative;
  display: block;
  padding: .75rem 1.25rem;
  background-color: #fff;
  border: none;
  color: #2D4E76;
  font-weight: bolder;
  background-color: #D8D8D8;
}

.list-group-item-action:focus, .list-group-item-action:hover {
  z-index: 1;
  color: #2D4E76;
  text-decoration: none;
  background-color: #eaeaea;
}

#wastewater, #petroleum, #industrial-wastewater {
  justify-content: flex-start;
}

.does-a-lot {
  position: absolute;
  left: 4.2em;
  margin-top: .5em;
}

.btn.btn-primary.landing-btns.products-btn:hover {
  background: rgb(226,95,40, 70%);
  box-shadow: 2px 2px 20px;
}

.btn.btn-primary.landing-btns.products-btn {
  background: rgb(226,95,40);
  border-color: transparent;
}

html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  scroll-behavior: smooth;
}

.btn.btn-primary.landing-btns.learn-more-btn:hover {
  background: rgb(201,201,201, 70%);
}

.btn.btn-primary.landing-btns.learn-more-btn {
  color: #2D4E76;
  background: rgb(201,201,201);
  border-color: transparent;
  padding-left: 20px;
  padding-right: 20px;
}

