.tile-img {
  width: 100%;
  padding-top: 1.5em;
}

.tile-heading, .tile-para {
  color: white;
}

.tile-heading {
  padding: 1.4em 20%;
  margin-bottom: 0;
}

.tile-para {
  padding: 0 20%;
}

.read-more {
  color: white;
  padding: 0 25% 0 25%;
  text-decoration: underline;
}

.read-more-link {
  color: white;
  text-decoration: underline;
}

.read-more-para {
  padding: 0 20%;
}

#wastewater {
  background-color: #D8D8D8;
}

.tile.mine-site {
  height: 800px;
}

#mine-site {
  background-color: #EAEAEA;
}

#petroleum {
  background-color: #D8D8D8;
}

#mosquito-control {
  background-color: #EAEAEA;
}

#industrial-wastewater {
  background-color: #D8D8D8;
}

.tile.ind-waste {
  height: 703px;
}

#eng-dosing {
  background-color: #454141;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 0 2em;
  text-align: center;
}

.eng-dosing-logo-container {
  width: 40%;
}

.eng-dosing-logo {
  width: 100%;
  margin-top: 2.5em;
}

.eng-dosing-content-container {
  color: white;
}

.eng-dosing-para {
  color: #EFE2E2;
  margin-bottom: 2.5em;
}

.eng-dosing-heading {
  margin: 1.1em 0;
}

.hours-list {
  opacity: 0.60;
}

@media (orientation: landscape) {
  .little-drop-does-lot {
    color: #2D4E76;
    position: relative;
    left: 25%;
    width: fit-content;
    white-space: nowrap;
    align-self: center;
    margin-bottom: 1em;
    /*grid-row: 1/3;*/
    grid-area: l;
  }
}

.little-drop-does-lot {
  color: #2D4E76;
  position: relative;
  left: -25px;
  width: fit-content;
  white-space: nowrap;
  align-self: center;
  margin-bottom: 1em;
}

#agriculture {
  background-color: #EAEAEA;
}

.services-section {
  height: auto;
  padding-bottom: 15%;
}

@media (min-width: 550px) {
  .earth-container {
    max-width: 65vw;
    margin: 1em auto;
  }
}

@media (orientation: landscape) {
  .earth-container {
    max-width: 40vw !important;
    margin: 1em auto;
    max-height: 80%;
    grid-area: e;
  }
}

.earth-container {
  max-width: 85vw;
  margin: 1em auto;
}

@media (orientation: landscape) {
  .a-little-drop {
    /*position: static;*/
    /*width: fit-content;*/
    font-size: 5vh !important;
  }
}

.a-little-drop {
  /*position: static;*/
  /*width: fit-content;*/
  font-size: 3vh;
}

@media (orientation: landscape) {
  .earth {
    width: 100%;
    /*display: block;*/
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
}

.earth {
  width: 100%;
  /*display: block;*/
}

@media (orientation: landscape) {
  .landing {
    height: calc(100vh - 56px) !important;
    display: grid !important;
    grid-template-columns: 50% 50%;
    grid-template-rows: repeat(12, 1fr);
    grid-template-areas: ". ." ". ." ". ." "l e" "l e" ". e" "c e" "c e" ". e" "b e" ". ." ". .";
  }
}

.landing {
  height: calc(100vh - 56px);
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

@media (orientation: landscape) {
  .landing-btn-group {
    justify-content: space-evenly;
    /*grid-column: 1/1;*/
    grid-area: b;
  }
}

.landing-btn-group {
  display: flex;
  justify-content: space-evenly;
}

